<ion-view class="bg-login">
  <ion-content>
        <div class="padding">
    <div class="logo mt20">
      <img src="img/logo.png" alt="Coach Mentor">
    </div>
<div class="landing mt30">
  <button class="button button-full button-positive" ng-click="openModalCoachSignin();">
    Sign in as Coach
</button>
<button class="button button-full button-assertive" ng-click="openModalCoachLogin();">
 Login in as Coach
</button>
<button class="button button-full button-positive" ng-click="openModalAthleteSignin();">
  Sign in as Athlete
</button>
<button class="button button-full button-assertive" ng-click="openModalAthleteLogin();">
 Login as Athlete
</button>
<button class="button button-full button-calm">
  Marketplace
</button>
</div>
    </div>
  </ion-content>
</ion-view>