<ion-view>
  <ion-content>
    <!--<button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="!slideIndex">
            Skip Intro
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="previous()" ng-show="slideIndex > 0">
            Previous Slide
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="next()" ng-show="slideIndex != 2">
            Next
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="slideIndex == 2">
            Start using MyApp
          </button>-->
    <!--<div class="padding">
  <div class="logo text-center mt15">
      <img src="img/logo-landing.png" alt="Coach Mentor">
  </div>
<div class="landing text-center mt15">
  <h4 class="text-center mt20">Coach</h4>
  <button class="button button-full button-positive" ng-click="openModalCoachSignin();">
    Register 
  </button>
  <button class="button button-full button-assertive" ng-click="openModalCoachLogin();">
    Login
    </button>
    <h4 class="text-center mt20">
      Athlete
    </h4>
    <button class="button button-full button-positive" ng-click="openModalAthleteSignin();">
    Register
    </button>
    <button class="button button-full button-assertivelick="openModalAthleteLogin();">
    Login
    </button>
    <h4 class="text-center mt20">Marketplace</h4>
    <button class="button button-full button-balanced" ui-sref="app.marketplace-articles">
      Get Started
    </button>
  </div>
</div>-->
    <div class="landing">
      <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide>
          <div class="landing-slide athlete-landing">
            <div class="logo pt15">
              <img src="img/logo-landing.png" alt="Coach Mentor">
            </div>
            <div class="text-center mt15">
              <h3 class="upper bold text-center">Athlete</h3>
              <p class="upper">
                Find the right coach to help you train smarter,maximise time, and achieve your goals.
              </p>
              <div class="landing-btn p20">
                <button class="button button-full button-assertive" ng-click="openModalAthleteSignin();">
              Sign Up as Athlete for Free
                </button>
                <button class="button button-full button-clear" ng-click="openModalAthleteLogin();">
                  or <span class="bold">Login</span>
                  </button>
              </div>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="landing-slide coach-landing">
            <div class="logo text-center mt15">
              <img src="img/logo-landing.png" alt="Coach Mentor">
            </div>
            <div class="text-center mt15">
              <h3 class="upper bold">Coach</h3>
              <p class="upper">
                Successful coaching starts with the right tools
              </p>
              <div class="landing-btn p20">
                <button class="button button-full button-assertive" ng-click="openModalCoachSignin();">
              Sign Up as Coach for Free
                </button>
                <button class=" button button-full button-clear" ng-click="openModalCoachLogin();">
                  or <span class="bold">Login</span>
                  </button>
              </div>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="landing-slide marketplace-landing">
            <div class="logo text-center mt15">
              <img src="img/logo-landing.png" alt="Coach Mentor">
            </div>
            <div class="text-center mt15">
              <h3 class="upper bold">Marketplace</h3>
              <p class="upper">
                Search and read articles, search our database for service providers or upcoming events and competitions
              </p>
              <div class="landing-btn p20">
                <!--<button class="button button-full button-assertive" ui-sref="app.marketplace-articles">Get Started</button>-->
                <button class="button button-full button-assertive">Coming Soon</button>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
  </ion-content>
  <div class="bar bar-footer landing-footer">
    <div class="button-bar">
      <button class="button button-positive" ng-class="{active: $index==slideIndex}" ng-click="pagerClicks($index)" ng-repeat="sliderpage in numbermade track by $index">{{sliderpage.name}}</button>
      <!--<button class="button button-positive" ng-class="{active: $index==c urrentSlide}" ng-click="pagerClick($index)">Coach</button>
      <button class="button button-positive" ng-class="{active: $index==c urrentSlide}" ng-click="pagerClick($index)">Marketplace</button>-->
    </div>
  </div>
</ion-view>
