<ion-view class="bg-login">
  <ion-content>
        <div class="padding">
    <div class="logo mt15">
      <img src="img/logo.png" alt="Coach Mentor">
    </div>
<div class="landing mt15">
  <h4 class="text-center mt20">Coach</h4>
  <button class="button button-full button-positive" ng-click="openModalCoachSignin();">
    Register 
</button>
<button class="button button-full button-assertive" ng-click="openModalCoachLogin();">
Login
</button>
<h4 class="text-center mt20">
  Athlete
</h4>
<button class="button button-full button-positive" ng-click="openModalAthleteSignin();">
 Register
</button>
<button class="button button-full button-assertive" ng-click="openModalAthleteLogin();">
 Login
</button>
<h4 class="text-center mt20">Marketplace</h4>
<button class="button button-full button-balanced" ui-sref="app.marketplace-articles">
  Get Started
</button>
</div>
    </div>
  </ion-content>
</ion-view>