<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" class="gradient-bg">
    <ion-content class="top-statusbar">
      <!--Coach Menu Start-->
      <ion-list>
        <div ng-if="accessType=='Coach'">
          <ion-item class="item-avatar" menu-close ui-sref="app.coach-profile" ui-sref-active="on">
            <div class="img-avatar" ng-click="viewProfile(profileData.profilePic)" style="background-image: url({{(profileData.profilePic | uploadpath) || 'img/img-placeholder.png'}});"></div>
            <h2>{{profileData.name}} {{profileData.surname}}</h2>
            <p>Coach</p>
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="app.coach-notifications" ui-sref-active="on">
            <i class="icon ln-earth"></i> Notifications
            <span class="badge badge-assertive" ng-if="notificationCount > 0">{{notificationCount}}</span>
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="app.coach-training-diary" ui-sref-active="on">
            <i class="icon ln-calendar"></i> Athlete Diary View
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="app.coach-athletes-coaching" ui-sref-active="on">
            <i class="icon ln-timer"></i> Athletes Coaching
          </ion-item>
          <!--<ion-item class="item-icon-left" menu-close ui-sref="app.coach-competition" ui-sref-active="on">
            <i class="icon ln-users"></i> Competition Schedule
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="app.coach-testing" ui-sref-active="on">
            <i class="icon ln-speed-fast"></i> Tests
          </ion-item>-->
          <ion-item class="item-icon-left" menu-close ui-sref="app.coach-blog" ui-sref-active="on">
            <i class="icon ln-archive"></i> Coach Updates
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="app.coach-chat" ui-sref-active="on">
            <i class="icon ln-comments"></i> Chat
          </ion-item>
        </div>
        <!--Coach Menu End-->
        <!--Athlete Menu Start-->
        <div ng-if="accessType=='Athlete'">
          <ion-item class="item-avatar" menu-close ui-sref="app.athlete-profile" ui-sref-active="on">
            <div class="img-avatar" ng-click="viewProfile(profileData.profilePic)" style="background-image: url({{(profileData.profilePic | uploadpath)||'img/img-placeholder.png'}});"></div>
            <h2>{{profileData.name}} {{profileData.surname}}</h2>
            <p>Athlete</p>
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="app.athlete-notifications" ui-sref-active="on">
            <i class="icon ln-earth"></i> Notifications
            <span class="badge badge-assertive" ng-if="notificationCount > 0">{{notificationCount}}</span>
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="app.athlete-coach-detail" ui-sref-active="on">
            <i class="icon ln-bookmark"></i> My Coach
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="app.athlete-search-coaches" ui-sref-active="on">
            <i class="icon ln-magnifier"></i> Search Coaches
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="app.athlete-injuries" ui-sref-active="on">
            <i class="icon ln-first-aid"></i> Injury
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="app.athlete-blog" ui-sref-active="on">
            <i class="icon ln-archive"></i> Coach Updates
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="app.athlete-training-diary" ui-sref-active="on">
            <i class="icon ln-calendar"></i> Training Diary
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="app.athlete-chat" ui-sref-active="on">
            <i class="icon ln-comments"></i> Chat
          </ion-item>
        </div>
        <!--Athlete Menu End-->
        <!--MarketPlace Menu Start-->
        <div ng-if="accessType==null">
          <ion-item class="item-icon-left" menu-close ui-sref="landing">
            <i class="icon ln-home3 ln-fit"></i> Home
          </ion-item>
          <ion-item class="item-icon-left" menu-close ng-click="openModalCoachLogin()">
            <i class="icon ln-user"></i> Login Coach
          </ion-item>
          <ion-item class="item-icon-left" menu-close ng-click="openModalAthleteLogin()">
            <i class="icon ln-user"></i> Login Athlete
          </ion-item>
        </div>
        <div class="market-div">
          <ion-item class="item-icon-left " menu-close>
            <i class="icon ln-cart"></i> Marketplace (Coming Soon)
          </ion-item>
          <!--<ion-item class="item-icon-left" menu-close ui-sref="app.marketplace-articles" ui-sref-active="on">
            <i class="icon ln-document2"></i> Articles
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="app.marketplace-service" ui-sref-active="on">
            <i class="icon ln-man"></i> Service Providers
          </ion-item>
          <ion-item class="item-icon-left" menu-close ui-sref="app.marketplace-event" ui-sref-active="on">
            <i class="icon ln-calendar3"></i> Events &amp; Competitions
          </ion-item>-->
        </div>
        <!--MarketPlace Menu End-->
        <!--<ion-item class="item-icon-left" menu-close ui-sref="app.athlete-analytics" ui-sref-active="on">
          <i class="icon ln-chart-growth"></i> Analytics
        </ion-item>-->
        <ion-item class="item-icon-left" menu-close ng-click="logout()" ng-if="accessType=='Athlete' || accessType=='Coach'">
          <i class="icon ln-power"></i> Log out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
