<ion-modal-view>
  <ion-header-bar class="bar-positive bar bar-header">
    <h1 class="title">More Information</h1>
    <div class="buttons">
      <button class="button button-clear button-icon ln-cross ln-fit" ng-click="closeEvent()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-text-wrap">
        <p><b>{{eventInfo.title}}</b></p>
        <p>Date: {{eventInfo.start._d | date: 'dd, MMMM yyyy'}}</p>
        <p>Details: <span ng-bind-html="eventInfo.details"></span></p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
