<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item ng-if="hideChat" class="item-avatar" ng-click="getChatDetails();">
        <img ng-src="{{(myCoachProfile.profilePic | uploadpath)||'img/img-placeholder.png'}}">
        <h2>{{myCoachProfile.name}} {{myCoachProfile.surname}}</h2>
        <p>{{chatMsg}}</p>
        <span class="badge badge-assertive chat-badge">{{unreadcount}}</span>
      </ion-item>

      <ion-item ng-if="hideChat == false">
        No coach subscribed.
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
