<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" ui-sref="app.athlete-chatdetail">
        <img ng-src="{{(myCoachProfile.profilePic | uploadpath)||'img/img-placeholder.png'}}">
        <!--<img src="{{(myCoachProfile.coach.profilePic | uploadpath)}}">-->
        <h2>{{myCoachProfile.name}}{{myCoachProfile.surname}}</h2>
        <p>Session complete, have submitted my times in session feedback</p>
        <span class="badge badge-assertive chat-badge">{{unreadcount}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
