<ion-view view-title="Notifications">
  <ion-content>
    <ion-list class="no-pad-list">

      <ion-item class="item-text-wrap" ng-repeat="notification in athletenotifications">
        <div ng-if="notification.type === 'athleteSubscriptionAccept'">
          <span ng-if="notification.athletecoach.status == 'Payment Pending'" class="badge badge-positive" ng-click="openPayNow(notification.athletecoach)">Pay Now</span>
          <p><span class=" notify-name ">{{notification.athletecoach.coach.name}} {{notification.athletecoach.coach.surname}} </span>accepted
            your request.
          </p>
          <p>{{notification.createdAt | date:"dd/MM/yyyy 'at' h:mma "}}</p>
        </div>
        <!--reject-->
        <div ng-if="notification.type === 'Rejected' ">
          <p><span class="notify-name ">{{notification.athletecoach.coach.name}} {{notification.athletecoach.coach.surname}} </span>has
            reject your subscription request.
          </p>
          <p>{{notification.createdAt | date:"dd/MM/yyyy 'at' h:mma "}}</p>
        </div>
        <!--unsubscribe-->
        <div ng-if="notification.type === 'Unsubscribe' ">
          <p><span class="notify-name ">{{notification.athletecoach.coach.name}} {{notification.athletecoach.coach.surname}} </span>has
            unsubsribed you.
          </p>
          <p>{{notification.createdAt | date:"dd/MM/yyyy 'at' h:mma "}}</p>
        </div>
        <!--Test-->
        <div ng-if="notification.type === 'testAssign'">
          <p><span class="notify-name">{{notification.test.coach.name}} {{notification.test.coach.surname}} </span>assigned
            you to a test.
          </p>
          <p>{{notification.createdAt | date:"dd/MM/yyyy 'at' h:mma "}}</p>
        </div>
        <!--Blog-->
        <div ng-if="notification.type=='blogAssign' ">
          <p><span class="notify-name ">{{notification.blog.author.name}} {{notification.blog.author.surname}} </span>shared
            a Coach Update.
          </p>
          <p>{{notification.createdAt | date:"dd/MM/yyyy 'at' h:mma "}}</p>
        </div>
        <!-- Competition -->
        <div ng-if="notification.type == 'Competition'">
          <p>You have been assigned to the following competition: <span class="strong">{{notification.name}}</span>.</p>
          <div class="button-bar hide">
            <button class="button button-small button-positive">Accept</button>
            <button class="button button-small button-assertive" ng-click="reason()">Reject</button>
          </div>
        </div>
        <div ng-if="athletenotifications.length == 0">No Notification</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
