<ion-view>
  <ion-nav-title>
    Personal Goals
  </ion-nav-title>
  <ion-content class="white-profile">
    <ion-list class="stripped">
      <ion-item ng-if="personalgoals.length == 0">No Personal Goals Yet.</ion-item>
      <ion-item ng-if="personalgoals.length > 0" class="item-text-wrap item-long" ng-repeat="p in personalgoals">
        <h3>{{p.name}}</h3>
        <p class="small-font">
          <i class="icon ln-calendar positive"></i> {{p.startDate|date:'dd MMMM, yyyy'}} -
          <i class="icon ln-calendar positive"></i> {{p.endDate|date:'dd MMMM, yyyy'}}
        </p>
        <p class="text-justified" read-more="p.details" read-more-limit="140" read-more-label-expand="Read More" read-more-label-collapse="Read Less"></p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
