<ion-modal-view>
  <ion-header-bar class="bar-positive bar bar-header">
    <h1 class="title">Subscription Type</h1>
    <button class="button button-icon ln-cross ln-fit" ng-click="closePayNow()"></button>
  </ion-header-bar>
  <ion-content>
    <form name="payNow">
      <ion-list>
        <label class="item item-input item-select" ng-class="{'err': formName['intensity' + $index].$invalid && formName['intensity' + $index].$touched}">
        <span class="input-label">Subscription Type</span>
        <select ng-model="formData.subscriptionType" name="subscriptionType" required>
              <option  value="">Select</option>
              <option value="Monthly">Monthly</option>
              <option value="Yearly">Annually</option>
        </select>
      </label>
        <ion-item ng-if="formData.subscriptionType">
          Amount Payable
          <span class="item-note" ng-if="formData.subscriptionType != 'Yearly'">{{formData.coachPrice | currency:'£':0}}/month</span>
          <span class="item-note" ng-if="formData.subscriptionType == 'Yearly'">{{formData.coachPrice * 11 | currency:'£':0}}/annum</span>
        </ion-item>
      </ion-list>
      <div class="padding">
        <button class="button button-positive button-block" ng-disabled="payNow.$invalid" ng-click="paySubscription(formData)" type="button">Pay Now</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
