<ion-view view-title="Athlete Requests">
  <ion-content>
    <ion-list>
      <ion-item class="item-big-image item-text-wrap" ng-repeat="athlete in athletes">
        <img ng-src="{{(athlete.athlete.profilePic|uploadpath)||'img/img-placeholder.png'}}">
        <h2>{{athlete.athlete.name}} {{athlete.athlete.surname}}</h2>
        <p ng-if="athlete.athlete.sports">Sports: {{athlete.athlete.sports}}</p>
        <button class="button button-small button-assertive" ng-click="reason(athlete._id)">Reject</button>
        <button class="button button-small button-assertive button-balanced" ng-click="acceptRequest(athlete._id)">Accept</button>
        <a class="read-more" ui-sref="app.coach-athlete-detail({athleteId:athlete.athlete._id})">Read More</a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
