<ion-view view-title="Article Details">
  <ion-content>
    <div>
      <div class="detail-div">
        <div class="img-div">
          <img ng-src="{{(articleBanner.profile |uploadpath)||'img/img-placeholder.png'}}" alt="">
          <!--<img ng-if="!articleBanner.profile" ng-src="img/marketplace/profile2.png" alt="">-->
        </div>
        <div class="name textupper">
          <p>{{articleBanner.authorName}} on {{articleBanner.createdAt | date: "MMMM d, y"}} in {{articleBanner.category}}</p>
        </div>
      </div>
      <div class="article-banner">
        <div class="banner">
          <img ng-src="{{(articleBanner.bannerImg |uploadpath)||'img/marketplace/article-thumb.jpg'}}" class="full-image">
          <!--<img ng-if="!articleBanner.bannerImg" ng-src="img/marketplace/article-detail.png" class="full-image">-->
        </div>
        <div class="rating-blog like">
          <span class="rate rateup"><i class="ln ln-thumbs-up"></i>{{articleBanner.noOfLikes}}</span>
          <span class="rate ratedown"><i class="ln ln-thumbs-down"></i>{{articleBanner.noOfDisLikes}}</span>
        </div>
      </div>
      <div class="text-intro">
        <div class="title textupper bold">
          <p>{{articleBanner.articleName}}</p>
        </div>
        <div class="container container-pad ">
          <div class="article-intro" ng-bind-html="articleBanner.fullContent"></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
